* {
    box-sizing: border-box;
    }

/* .body {
    margin: 0%;
    padding: 0%
} */

.background {
    /* background: ;<img alt="pic-three" src={pic3} class="card-img-overlay" id="picthree-image"/> */
    background-image: url("../images/beachpic7.png");
    /* background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    width: 100%;
    height: 100%; */
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 105% 105%;
    padding-bottom: 45px;
    padding-right: 50px;
    margin-bottom: -45px;

}

.card-body h1 {
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 100%; 
    height: 100%; 
    /* display: inline-block; */
    /* display: inline; */
    position: relative;
    bottom: -138px;
    padding:0%;
    margin:-9%;   
    /* padding-left: 415px;  */
    /* display: flex; 
    flex-wrap: wrap;  */
    /* text-align: center; */
    /* justify-content: center; */
    /* flex: 4; */
    /* flex-direction: column; 
    align-items: center;  */
}
    

@media screen and (max-width:768px) {
    .card-body h1 {
      width:69%;
      height:100%;
    } 
  }

  /* @media screen and (max-width: 768px) {
  .card-body h1 {
      flex-direction: row;
      width:80%;
      height: 100%;
    }
  } */