.navbar {
    /* background: #97b3b4; */
    /* height: 60px; */
  }
  
  .navbar {
    margin: 0;
    padding-top:1px;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 2rem;
    left:55px;
    bottom: -5px;
    
  }

  .navbar h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    /* left:15px; */
    bottom: -2px;
    margin-left: 10px;
    margin-right: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}


.navbar nav ul {
    list-style-type: none;
}

.navbar nav ul ol {
    display: inline-block;
    margin-left: 28px;  
    /* width: px; */
    /* padding: 20px; */
    /* margin: 15px; */
    /* margin-bottom: 50px; */
    position: relative;
    left:-85px;
    bottom: -7px;
    margin-right: 14px;
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: #32a0d7; */
    
}

.navbar nav ol a {
    display: inline-block;
    /* color: #ffffff; */
    color: rgb(252, 252, 252);
    text-decoration: none;

    
}
  
  /* body { */
    /* background-color: hsl(120, 7%, 92%); */
    /* background-image: linear-gradient(to right, #c6ffdd, #ffeb68, #fbd786);
    background-size: 400% 400%;
    height: 100vh;
  } */


body {
  background-image: linear-gradient(to right top, #3b77e4, #008deb, #009fe8, #00afe0, #00bdd6, #0ec6d5, #27cfd2, #3fd8ce, #47e1d7, #4fe9df, #57f2e8, #00ebdb);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  padding:0px;
  /* width: 110%;
  height: 100%;  */
}


/* body {
  background-image: linear-gradient(to right top, #3b77e4, #008deb, #009fe8, #00afe0, #00bdd6, #0ec6d5, #27cfd2, #3fd8ce, #47e1d7, #4fe9df, #57f2e8, #00ffef);
} */

/* body {
background-image: linear-gradient(to left top, #3b77e4, #008deb, #009fe8, #00afe0, #00bdd6, #0ec6d5, #27cfd2, #3fd8ce, #47e1d7, #4fe9df, #57f2e8, #5ffbf1);
} */

.footer {
  /* background: #97b3b4; */
  height: 110px;
}

.footer h6 ol {
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  
}