.navbar {
    background: #59baba;
    height: 80px;
  }
  
  .navbar {
    margin: 0;
    padding-top: 1px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  
  body {
    background-color: hsl(120, 6%, 88%);

}